*DS_Store*
*.cache
*~
*.log
*.o
*.status
confdefs.h
conftest*
Makefile
src/oprofile
libtool
config.h
stamp-h*
*.Plo
*deps/*.Po
*/*deps/*.Po
*/*/*deps/*.Po
*/*/*/*deps/*.Po
*/*/*/*/*deps/*.Po
*/*/*/*/*/*deps/*.Po
